<template>
<div>
    <div class="big-container">
        <a-row>
            <a-col :lg="24" :xl="14" :xxl="10">
                <div class="container">
                    <div class="card1">
                        <div class="card-container">
                            <content1 />
                        </div>
                        <content2 />
                        <a-divider />
                        <div class="card-container">
                            <content3 />
                        </div>
                    </div>
                </div>
            </a-col>
            <a-col :lg="24" :xl="10" :xxl="14">
                <div class="container2">
                    <div class="card2">
                        <div>
                            <content4 />
                        </div>
                    </div>
                    <div class="card3">
                        <div>
                            <content5 />
                        </div>
                    </div>
                </div>

            </a-col>
        </a-row>
    </div>
</div>
</template>

<script>
import content1 from '@/components/Dashboard/Card1/content1'
import content2 from '@/components/Dashboard/Card1/content2'
import content3 from '@/components/Dashboard/Card1/content3'
import content4 from '@/components/Dashboard/Card2/content1'
import content5 from '@/components/Dashboard/Card3/content1'
export default {

    components: {
        content1,
        content2,
        content3,
        content4,
        content5
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* .big-container{
    width: 1200px;

    
} */

.container {
    padding-top: 36px;
    padding-left: 36px;
}

.container2 {
    padding-top: 36px;
}

.card1 {
    width: 635px;
    height: 718px;
    border-radius: 4px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.card2 {
    width: 445px;
    height: 344px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.card3 {
    margin-top: 30px;
    width: 445px;
    height: 344px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.card-container {
    padding: 24px;
}

.ant-divider-horizontal {
    display: block;
    clear: both;
    width: 100%;
    min-width: 100%;
    height: 1px;
    margin: 0px 0;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .ant-col-xl-14 {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    .ant-col-xl-10 {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .container2 {
        width: 100%;
        display: flex;
        padding: 34px;
    }

    .card2 {
        width: 445px;
        height: 344px;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    }

    .card3 {
        margin: 0px 0px 0px 30px;
    }
}

@media screen and (max-width:1199px) {
    .container2{
        padding: 34px;
    }

    .card2{
        width: 635px;
        height: auto;
    }

    .card3{
        width: 635px;
        height: auto;
    }
}
</style>
