<template>
<div class="box">
    
    <a-input placeholder="Global Search" />
    <a-icon class="icon" type="search" />
    <a-icon class="icon2" type="bell" />
</div>
</template>

<script>
export default {
    methods: {
        onSearch(value) {
            console.log(value);
        },
    },
};
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    position: relative;
height:50px;
}

.icon{
    position: absolute;
    top: 24px;
    left: 30px;
}

.icon2{
    position: absolute;
    top: 24px;
    right: 30px;
    cursor: pointer;
}

.ant-input:placeholder-shown {
    text-overflow: ellipsis;
    width: 100%;
    height: 62px;
    padding-left: 60px;
    border: none;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

input.ant-input {
    width: 100%;
    height: 62px;
    padding-left: 60px;
    border: none;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1920px) {}
</style>
