<template>
<div>
    <a-menu :default-selected-keys="['1']" :default-open-keys="['sub1']" mode="inline" theme="light" :inline-collapsed="collapsed">
        <a-menu-item>
            <div @click="toggleCollapsed" :type="collapsed ? 'menu-unfold' : 'menu-fold'" v-show="logoshow" class="logo1">
                <p>SaaS Kit</p>
            </div>
            <div @click="toggleCollapsed" :type="collapsed ? 'menu-unfold' : 'menu-fold'" v-show="logoshow2" class="logo2">
                <p>SaaS</p>
            </div>
        </a-menu-item>
        <a-divider />
        <a-menu-item>
            <div class="profile-grid">
                <div>
                    <img class="profile-image" src="~/assets/img/profile_photo.png" alt="">
                </div>
                <div style="padding:4px">
                    <p class="name">Sierra Ferguson</p>
                    <p class="email">s.ferguson@gmail.com</p>
                </div>
            </div>
        </a-menu-item>
        <a-menu-item key="1">
            <nuxt-link to="/">
                <a-icon type="layout" />
                <span>Dashboard</span>
            </nuxt-link>
        </a-menu-item>
        <a-menu-item key="2">
            <a-icon type="desktop" />
            <span>Task</span>
        </a-menu-item>
        <a-menu-item key="3">
            <a-icon type="mail" />
            <span>Email</span>
        </a-menu-item>
        <a-menu-item key="4">
            <nuxt-link to="/contact">
                <a-icon type="user" />
                <span>Contact</span>
            </nuxt-link>

        </a-menu-item>
        <a-menu-item key="5">
            <a-icon type="inbox" />
            <span>Chat</span>
        </a-menu-item>
        <a-menu-item key="6">
            <a-icon type="inbox" />
            <span>Deals</span>
        </a-menu-item>
        <a-divider />
        <a-menu-item key="7">
            <a-icon type="ellipsis" />
            <span>Setting</span>
        </a-menu-item>
    </a-menu>
</div>
</template>

<script>
export default {
    data() {
        return {
            collapsed: false,
            logoshow: true,
            logoshow2: false
        }
    },
    methods: {
        toggleCollapsed() {
            this.collapsed = !this.collapsed
            this.logoshow = !this.logoshow
            this.logoshow2 = !this.logoshow2
        },
    },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
}

.ant-menu-inline {
    width: 256px;
    height: 1080px;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.ant-menu-inline-collapsed {
    height: 100vh;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.ant-divider-horizontal {
    display: block;
    clear: both;
    width: 100%;
    min-width: 100%;
    height: 1px;
    margin: 0px 0px 10px 0px;
}

.ant-menu-inline-collapsed>.ant-menu-item,
.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
    left: 0;
    padding: 0 18px !important;
    text-overflow: clip;
}

.ant-menu-inline-collapsed>.ant-menu-item .anticon,
.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .anticon,
.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title .anticon,
.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .anticon {
    margin: 0;
    font-size: 16px;
    line-height: 40px;
    margin-left: 14px;
}

.logo1 {
    font-weight: 600;
    font-size: 18px;

    /* Accent blue */

    color: #109CF1;
    margin: 10px 0px 0px 0px;
}

.logo2 {
    font-weight: 600;
    font-size: 18px;

    /* Accent blue */

    color: #109CF1;
    margin: 10px 0px 0px 0px;

}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* black */

    color: #192A3E;
}

.email {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* gray */

    color: #90A0B7;
}

p {
    margin: 0;
}

span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Accent blue */
    transition: 0.3s;
}

span:hover {
    color: #109CF1;
}

.profile-grid {
    display: grid;
    grid-template-columns: 62px auto;
    margin: 10px 0;
}

.profile-image {
    padding-right: 10px;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
    /* margin-bottom: 8px; */
    height: auto;
}

@media screen and (max-width: 1400px) {
    .ant-menu-inline {
        width: 256px;
        box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    }
}
</style>
