<template>
<div style="width:100%;height:100%">
    <div style="display:flex">
        <sidebar />
        <div style="width:100%;height:100%">
            <searchbar/>
            <nuxt />
        </div>
    </div>
</div>
</template>

<script>
import searchbar from '@/components/searchbar'
import sidebar from '@/components/sidebar'
export default {
    components: {
        searchbar,
        sidebar
    },
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html,
body {
    width: 100%;
    height: 100%;
}
</style>
