<template>
<div>
    <div class="flex-task">
        <p class="topic-task">8 task completed out of 10</p>
        <div class="grid-dropdown">
            <p class="show-task">Show:</p>
            <a-dropdown :trigger="['click']">
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                    This week
                    <a-icon type="down" />
                </a>
                <a-menu slot="overlay">
                    <a-menu-item key="0">
                        <a href="/">This day</a>
                    </a-menu-item>
                    <a-menu-item key="1">
                        <a href="/">This month</a>
                    </a-menu-item>
                    <a-menu-item key="2">
                        <a href="/">This year</a>
                    </a-menu-item>
                </a-menu>
            </a-dropdown>
        </div>
    </div>
    <a-progress :success-percent="80" :show-info="false" />
    <p class="day">23 December, Sunday</p>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
    display: block;
    /* margin: -5px -12px; */
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.65);
    transition: all 0.3s;
}

.flex-task {
    display: flex;
    justify-content: space-between;
}

.topic-task {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* dark_blue */

    color: #334D6E;
}

.show-task {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #6A707E;
}

.grid-dropdown {
    display: grid;
    grid-template-columns: 40% 75%;
}

.grid-dropdown a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #109CF1;

}

.day {
    margin-top: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #192A3E;
}
</style>
