<template>
<div>
    <div class="grid-date">
        <div class="date-box">
            <p class="date-day">Sun</p>
            <div class="date-daydate-mark">
                <p>23</p>
            </div>

        </div>
        <div class="date-box">
            <p class="date-day">Mon</p>
            <div class="date-daydate">
                <p>24</p>
            </div>

        </div>
        <div class="date-box">
            <p class="date-day">Tue</p>
            <div class="date-daydate">
                <p>25</p>
            </div>

        </div>
        <div class="date-box">
            <p class="date-day">Wed</p>
            <div class="date-daydate">
                <p>26</p>
            </div>

        </div>
        <div class="date-box">
            <p class="date-day">Thu</p>
            <div class="date-daydate">
                <p>27</p>
            </div>

        </div>
        <div class="date-box">
            <p class="date-day">Fri</p>
            <div class="date-daydate">
                <p>28</p>
            </div>

        </div>
        <div class="date-box">
            <p class="date-day">Sat</p>
            <div class="date-daydate">
                <p>29</p>
            </div>

        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-date {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 100%;
    margin: 8px auto 18px auto;
}

.date-box{
    transition: 0.3s;
    cursor: pointer;
}

.date-box:hover p{
    color: #109CF1;
    opacity: 1;
}   

.date-day {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* dark_blue */

    color: #334D6E;
    opacity: 0.5;
}

.date-daydate {
    margin-top: 8px;
    padding-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* profile_gray */

    color: #4C5862;
}

.date-daydate-mark {
    width: 24px;
    height: 24px;
    margin: 8px auto auto auto;
    padding-top: 3px;
    padding-left: 1px;
    background: #109CF1;
    border-radius: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* white */

    color: #FFFFFF;
}
</style>
