<template>
<div>
    <div class="card">
        <div class="flex-top">
            <div>
                <p class="topic">Send benefit review by Sunday</p>
            </div>
            <p class="event">Reminder</p>
        </div>
        <div class="grid-date">
            <p class="date-text">Duo date:</p>
            <p class="date-day">December 23, 2018</p>
        </div>
        <a-row>
            <a-col :lg="16" :xl="16" :xxl="16">
                <div class="grid-info">
                    <img src="~/assets/img/profile-info1.png" alt="">
                    <p class="profile-text">George Fields</p>
                </div>
            </a-col>
            <a-col :lg="4" :xl="4" :xxl="4">
                <div class="grid-edit">
                    <div>
                        <img class="Ellipse" src="~/assets/img/Ellipse-yellow.png" alt="">
                        <img class="Ellipse" src="~/assets/img/Ellipse-green.png" alt="">
                    </div>
                    <div>
                        <a-icon class="icon" type="edit" />
                        <a-icon class="icon" type="delete" />
                    </div>
                </div>
            </a-col>
            <a-col :lg="4" :xl="4" :xxl="4">
                <a-button class="btn-success">Completed</a-button>
            </a-col>

        </a-row>
    </div>
    <div class="card">
        <div class="flex-top">
            <div>
                <p class="topic">Invite to office meet-up</p>
            </div>
            <p class="event">Call</p>
        </div>
        <div class="grid-date">
            <p class="date-text">Duo date:</p>
            <p class="date-day">December 23, 2018</p>
        </div>
        <a-row>
            <a-col :lg="16" :xl="16" :xxl="16">
                <div class="grid-info">
                    <img src="~/assets/img/profile-info2.png" alt="">
                    <p class="profile-text">Rebecca Moore</p>
                </div>
            </a-col>
            <a-col :lg="4" :xl="4" :xxl="4">
                <div class="grid-edit">
                    <div>
                        <img class="Ellipse" src="~/assets/img/Ellipse-yellow.png" alt="">
                        <img class="Ellipse" src="~/assets/img/Ellipse-green.png" alt="">
                    </div>
                    <div>
                        <a-icon class="icon" type="edit" />
                        <a-icon class="icon" type="delete" />
                    </div>
                </div>
            </a-col>
            <a-col :lg="4" :xl="4" :xxl="4">
                <a-button class="btn-danger">Ended</a-button>
            </a-col>
        </a-row>
    </div>
    <div class="card">
        <div class="flex-top">
            <div>
                <p class="topic">Office meet-up</p>
            </div>
            <p class="event">Event</p>
        </div>
        <div class="grid-date">
            <p class="date-text">Duo date:</p>
            <p class="date-day">December 23, 2018</p>
        </div>
        <a-row>
            <a-col :lg="16" :xl="16" :xxl="16">
                <div class="grid-info">
                    <img src="~/assets/img/profile-info3.png" alt="">
                    <p class="profile-text">Lindsey Stroud</p>
                </div>
            </a-col>
            <a-col :lg="4" :xl="4" :xxl="4">
                <div class="grid-edit">
                    <div>
                        <img class="Ellipse" src="~/assets/img/Ellipse-yellow.png" alt="">
                        <img class="Ellipse" src="~/assets/img/Ellipse-green.png" alt="">
                    </div>
                    <div>
                        <a-icon class="icon" type="edit" />
                        <a-icon class="icon" type="delete" />
                    </div>
                </div>
            </a-col>
            <a-col :lg="4" :xl="4" :xxl="4">
                <a-button class="btn-success">Completed</a-button>
            </a-col>

        </a-row>
    </div>
    <p class="showmore">Show more</p>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    width: 587px;
    height: 126px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 16px;
}

.flex-top {
    display: flex;
    justify-content: space-between;

}

.topic {
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* table_black */

    color: #323C47;
}

.event {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.01em;

    /* gray */

    color: #90A0B7;
}

.grid-date {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 12% 24%;
}

.date-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* dark_gray text */

    color: #4C5862;
    opacity: 0.5;
}

.date-day {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* dark_gray text */

    color: #4C5862;
}

.grid-info {
    display: grid;
    grid-template-columns: 8% 30%;
}

.profile-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* table_gray */

    color: #707683;
    padding: 2px;
}

p.profile-text {
    margin: 0;
}

img {
    width: 24px;
    height: 24px;
}

.Ellipse {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.icon {
    opacity: 0.5;
    cursor: pointer;
}

.flex-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card:hover .grid-edit {
    display: grid;
    grid-template-columns: 44% 44%;
}

.grid-edit {
    display: none;
}

.showmore {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* Accent blue */

    color: #109CF1;
    cursor: pointer;
    transition: 0.3s;
}

.showmore:hover{
    color: rgb(17, 117, 179);
}

.btn-success {
    width: 94px;
    height: 22px;
    background-color: #2ED47A;
    color: white;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;

    /* white */

    color: #FFFFFF;
    transition: 0.3s;
}

.btn-success:hover {
    opacity: 0.8;
}

.btn-danger {
    width: 94px;
    height: 22px;
    background-color: #F7685B;
    color: white;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;

    /* white */

    color: #FFFFFF;
    transition: 0.3s;
}

.btn-danger:hover {
    opacity: 0.8;
}
</style>
