<template>
<div>
    <div style="height:50px;position:fixed">
    </div>
    <div>
        <contact />
    </div>
</div>
</template>

<script>
import dashboard from '@/components/Dashboard/dashboard'
import contact from '@/components/Contact/contact'
export default {
    layout: 'main',
    components: {
        dashboard,
        contact
    }
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {

    html,
    body {
        border: .1px solid red;
    }
}
</style>
