<template>
<div class="big-container">
    <div class="container">
        <!-- <div style="margin-bottom: 16px">
            <a-button type="primary" :disabled="!hasSelected" :loading="loading" @click="start">
                Reload
            </a-button>
            <span style="margin-left: 8px">
                <template v-if="hasSelected">
                    {{ `Selected ${selectedRowKeys.length} items` }}
                </template>
            </span>
        </div> -->
        <div class="flex-box">
            <div class="grid-dropdown">
                <p class="show-task">Company:</p>
                <a-dropdown :trigger="['click']">
                    <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                        All
                        <a-icon type="down" />
                    </a>
                    <a-menu slot="overlay">
                        <a-menu-item key="0">
                            <a href="/">This day</a>
                        </a-menu-item>
                        <a-menu-item key="1">
                            <a href="/">This month</a>
                        </a-menu-item>
                        <a-menu-item key="2">
                            <a href="/">This year</a>
                        </a-menu-item>
                    </a-menu>
                </a-dropdown>
            </div>
            <button>Add contact</button>
        </div>
        <a-table :row-selection="rowSelection" :columns="columns" :data-source="data">

            <a slot="name" slot-scope="text" class="name">
                <img :src="require(`@/assets/img/${data[0].image}`)" alt="" style="margin-right: 12px;">
                {{ text }}</a>

        </a-table>

    </div>
</div>
</template>

<script>
const columns = [{
        title: 'Name',
        dataIndex: 'name',
        scopedSlots: {
            customRender: 'name'
        },
    },
    {
        title: 'Email',
        dataIndex: 'Email',
    },
    {
        title: 'Company name',
        dataIndex: 'Company_name',
    },
    {
        title: 'Role',
        dataIndex: 'Role',
    },
    {
        title: 'Forecast',
        dataIndex: 'Forecast',
    },
    {
        title: 'Recent activity',
        dataIndex: 'Recent_activity',
    },
];
const data = [{
        key: '1',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info1.png'
    },
    {
        key: '2',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info2.png'
    },
    {
        key: '3',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info3.png'
    },
    {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    }, {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    },
    {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    }, {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    }, {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    }, {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    }, {
        key: '4',
        name: 'John Brown',
        Email: 'lindsey.stroud@gmail.com',
        Company_name: 'New York No. 1 Lake Park',
        Role: 'Manager',
        Forecast: '50%',
        Recent_activity: '5 Minutes ago',
        image: 'profile-info4.png'
    },
];

export default {
    data() {
        return {
            data,
            columns,
        };
    },
    computed: {
        rowSelection() {
            return {
                onChange: (selectedRowKeys, selectedRows) => {
                    console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
                },
                getCheckboxProps: record => ({
                    props: {
                        disabled: record.name === 'Disabled User', // Column configuration not to be checked
                        name: record.name,
                    },
                }),
            };
        },
    },
};
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 36px;
    width: 1182px;
}

.ant-table-wrapper {
    zoom: 1;
    width: 1110px;
    margin-top: 24px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

tr {
    height: 64px;
    border-bottom: .1px solid #EBEFF2
}

.ant-table-thead>tr>th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    /* background: #fafafa; */
    border-bottom: 1px solid #e8e8e8;
    transition: background 0.3s ease;
}

.topic {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* dark_blue */

    color: #334D6E;
    opacity: 0.5;
}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* table_black */

    color: #323C47;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* table_gray */

    color: #707683;
}

.last-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* table_gray */

    color: #707683;
}

.grid-info {
    display: grid;
    grid-template-columns: 14% 70%;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.show-task {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #6A707E;
}

.grid-dropdown {
    display: grid;
    grid-template-columns: 75% 75%;
    padding-top: 24px;
}

.grid-dropdown a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #109CF1;

}

button {
    width: 160px;
    height: 42px;
    background: #109CF1;
    /* accent button shadow */

    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    /* white */

    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: rgb(13, 127, 197);
}
</style>
