<template>
    <div>
        <content1/>
    </div>
</template>

<script>
import content1 from '@/components/Contact/content1'
export default {
    components:{
        content1
    }
}
</script>

<style>

</style>