<template>
<div>
    <div class="card-container">
        <div class="flex-topic">
            <div>
                <p class="topic">Task</p>
            </div>
            <div class="grid-dropdown">
                <p class="show-task">Show:</p>
                <a-dropdown :trigger="['click']">
                    <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                        This month
                        <a-icon type="down" />
                    </a>
                    <a-menu slot="overlay">
                        <a-menu-item key="0">
                            <a href="/">This day</a>
                        </a-menu-item>
                        <a-menu-item key="1">
                            <a href="/">This week</a>
                        </a-menu-item>
                        <a-menu-item key="2">
                            <a href="/">This year</a>
                        </a-menu-item>
                    </a-menu>
                </a-dropdown>
            </div>
        </div>
    </div>

    <a-divider />
    <div class="box">
        <div style="width:100%">
            <chartjs-doughnut :bind="true" :datasets="datasets" :labels="labels" :option="option" />
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            datasets: [{
                data: [20, 70, 10],
                backgroundColor: ["#FFB946", "#2ED47A", "#F7685B"],
                hoverBackgroundColor: ["#fbd2cd", "#fef5c9", "#d1e3f7"]
            }],
            labels: ["Active", "Completed", "Ended"],
            option: {}
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-dropdown-menu-item>a,
.ant-dropdown-menu-submenu-title>a {
    display: block;
    /* margin: -5px -12px; */
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.65);
    transition: all 0.3s;
}

.card-container {
    padding: 24px;
}

.flex-topic {
    display: flex;
    justify-content: space-between;
}

.show-task {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #6A707E;
}

.grid-dropdown {
    display: grid;
    grid-template-columns: 40% 75%;
}

.grid-dropdown a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #109CF1;

}

.topic {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* black */

    color: #192A3E;
}

.box {
    padding: 22px;
}
</style>
